<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bike Shop</title>
    <link rel="stylesheet" href="" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="" th:href="@{/css/styles.css}"/>
</head>
<body>

<main class="d-flex flex-nowrap">
    <h1 class="visually-hidden">Sidebars examples</h1>

    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">Navigation</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    <a th:href="@{/admin/}" class="admin_nav_link">Home</a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <a th:href="@{/admin/products}" class="admin_nav_link">Product</a>
                </button>
            </li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    <a th:href="@{/categories}" class="admin_nav_link">Category</a>
                </button>
            </li>
            <li class="border-down my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    <a th:href="@{/admin/}" class="admin_nav_link">User</a>
                </button>

            </li>
        </ul>
    </div>

<div class="container">
    <h3>Add New Product</h3><br>

    <form action="#" th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">

        TITLE: <br><input type="text" th:field="*{title}" id="title" placeholder="title"><br>
        DESCRIPTION: <br><input type="text" th:field="*{description}" id="description" placeholder="description"><br>
        PRICE: <br><input type="number" th:field="*{price}" id="price" placeholder="price"><br>
        COLOR: <br><select class="form-select" th:field="*{color}">
        <option value="red">red</option>
        <option value="black">black</option>
        <option value="blue">blue</option>
        <option value="green">green</option>
    </select><br>
        AUTHOR: <br><input type="text" th:field="*{author}" id="author" placeholder="author"><br>

        CATEGORY: <br><select class="form-select" name="category_id">
        <div th:each="cat : ${categories}">
            <option th:value="${cat.id}" th:text="${cat.name}">category</option>
        </div>
        </select><br>

        First IMAGE: <input type="file" name="file1"/><br><br>
        Second IMAGE: <input type="file" name="file2"/><br><br>
        Third IMAGE: <input type="file" name="file3"/><br><br>

        <button class="btn btn-success"> + ADD NEW PRODUCT</button>
    </form>

    <hr/>

</div>
</main>

</body>
</html>